{% extends 'base.twig' %}

{% block body %}
    <h1>Ajout d'un projet</h1>

    <form method="post">
        {{ form_row('Nom', 'text', 'name', 'Entrer un nom') |raw('html') }}
        {{ form_row('Description', 'textarea', 'description', 'Entrer une description') |raw('html') }}
        {{ form_row('Date de début', 'date', 'started_at') |raw('html') }}
        {{ form_row('Date de fin', 'date', 'finished_at') |raw('html') }}
        {{ form_row('Image', 'text', 'image') |raw('html') }}

        <input type="submit" value="Ajouter" class="btn btn-outline-primary">
    </form>


{% endblock %}